<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.dis.user.persistence.SeckillUserMapper">

    <resultMap type="com.seckill.dis.user.domain.SeckillUser" id="seckillUser">
        <result property="uuid" column="UUID"/>
        <result property="phone" column="phone"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="head" column="head"/>
        <result property="registerDate" column="register_date"/>
        <result property="lastLoginDate" column="last_login_date"/>
        <result property="loginCount" column="login_count"/>
    </resultMap>

    <select id="getUserByPhone" parameterType="java.lang.Long" resultType="seckillUser">
        SELECT *
        FROM seckill_user
        WHERE phone = #{phone}
    </select>


    <insert id="insertUser" parameterType="com.seckill.dis.user.domain.SeckillUser" useGeneratedKeys="true">
        INSERT INTO seckill_user (phone, nickname, password, salt, head, register_date, last_login_date, login_count)
        VALUES (#{phone}, #{nickname}, #{password}, #{salt}, #{head}, #{registerDate}, #{lastLoginDate}, #{loginCount})
        <selectKey keyColumn="UUID" keyProperty="uuid" resultType="java.lang.Long">
            SELECT last_insert_id()
        </selectKey>
    </insert>

    <select id="findPhone" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT phone
        FROM seckill_user
        WHERE phone = #{phone}
    </select>

</mapper>